//
//  Project.Debug.xcconfig
//  App
//
//  Created by Yuki Okudera on 2022/01/05.
//  Copyright © 2022 yuoku. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

#include "Project.Base.xcconfig"

//:configuration = Debug
GCC_PREPROCESSOR_DEFINITIONS = DEBUG=1 $(inherited)
